{% extends 'libs/template.html.twig' %}

{% block links %}
    <a href="/workshops"><li>Ateliers</li></a>
    <a href="/categories"><li class="active">Catégories</li></a>
    <a href="/machines"><li>Machines</li></a>
{% endblock %}

{% block content %}
<h1>Phy'ss à 58</h1>
{% endblock %}

{% block scripts %}
    <script src="/js/home.js"></script>
{% endblock %}