{% extends 'libs/template.html.twig' %}

{% block links %}
    <a href="/workshops"><li>Ateliers</li></a>
    <a href="/categories"><li>Catégories</li></a>
    <a href="/machines"><li>Machines</li></a>
    <a href="/sections"><li class="active">Sections</li></a>
    <a href="/parameters"><li>Paramètres</li></a>
{% endblock %}

{% block content %}
<div id="workshops">
    <h1>Gestion des sections</h1>
    <h3 style="padding-left: 30px;">Ajout d'une section</h3>
    <div class="row">
        <div class="col-5">
            <select v-model="new_section_machine" class="form-control container-fluid">
                <option disabled value="">Choisissez une machine</option>
                <option v-for="machine in machine_list" v-bind:value="machine.machine_id">${machine.machine_title} ${machine.machine_brand} ${machine.machine_reference}</option>
            </select>
        </div>
        <div class="col-5">
            <input type="text" class="container-fluid form-control" v-model="new_section_type" placeholder="Type de la nouvelle section..."/>
        </div>
        <div class="col-2">
            <button type="button" @click="add_new_section()" class="btn btn-outline-primary container-fluid">Ajouter</button>
        </div>
    </div>
    <br/><br/>
    <h3 style="padding-left: 30px;">Listing des sections</h3>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Machine</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tr v-for="section in section_list" :key="section.section_id">
            <td>#${ section.section_id }</td>
            <td>${ getSectionMachineName(section.section_machine) }</td>
            <td>${ section.section_type }</td>
            <td><button type="button" class="btn btn-danger" @click="del_section(section.section_id)"><i class="fas fa-trash"></i></button></td>
        </tr>
    </table>
</div>
{% endblock %}

{% block scripts %}
    <script src="/js/section_interface.js"></script>
{% endblock %}